/*.sidebar {
  position: fixed;
  left: 0;
  top: 62px;
  bottom: 0;
}
*/

 .sidebar {
  position: fixed;
  top: 62px;
  left: 0;
  bottom: 0;
  width: 13%;
  background-color: #1a202c;
  color: #cbd5e0;
    }
.active-link {
  background-color: #4A5568;
  color: #fff; 
}
