<app-header></app-header>
<p-toast position="top-right" key="my-toast" [style]="{ 'z-index': '10' }" />
<app-sidebar></app-sidebar>
<div [ngClass]="{tab_content: true}" class="content">
<router-outlet></router-outlet>
</div>

<div [ngClass]="{
  'blurredbox': !isSmallScreen,
  'blurredbox active': isSmallScreen && isComponentVisible
}"></div>
<div class="top-32 right-4 mx-auto fixed" [ngClass]="{'visible': isSmallScreen}" [style]="{ 'z-index': '9' }">
  <p-button
  class = "SHOW_TABLE"
    *ngIf="isSmallScreen && !isComponentVisible"
    label="&#x2192;"
    (click)="showTableStatus()"
    iconPos="right"
    severity="success" />
  <p-button
    class = "SHOW_TABLE"
    *ngIf="isSmallScreen && isComponentVisible"
    label="&#x2718;"
    (click)="showTableStatus()"
    iconPos="right"
    severity="danger" />
</div>
<app-ConnectionStatus [style]="{ 'z-index': '8' }" [ngClass]="{
  'table_with_status': isSmallScreen && !isComponentVisible,
  'visible': !isSmallScreen || isComponentVisible}" >
</app-ConnectionStatus>
<!-- <app-Notifications></app-Notifications> -->


