<!-- <div class="toasts">
  <div role="alert" class="fade alert alert-warning alert-dismissible show">
    <button type="button" class="btn-close" aria-label="Close alert"></button>
    <div class="d-flex">
      <img alt="noti-icon" src="https://brand.workingsolutions.com/components/images/warning.svg" width="28" class="me-4">
      <div>
        <div class="alert-heading h4">This is a warning alert</div>
        <p>Visit our registration page, then try again</p>
      </div>
    </div>
  </div>
</div> -->
<div class="NOTIFICATION fixed top-4 left-1/2 transform -translate-x-1/2 flex flex-col items-center space-y-2">
  <div *ngFor="let notification of notifications" 
       class="p-4 text-white rounded shadow-md w-96 flex justify-between items-center transition-transform"
       [ngClass]="{
         'bg-red-600': notification.message != 'залупа',
         'bg-green-600': notification.message == 'залупа',
         'fade-out': notification.closing
       }">
    <span>{{ notification.message }}</span>
    <button (click)="closeNotification(notification)">✖</button>
  </div>
</div>