.container {
	margin: 20px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 8px;
	background-color: #fff;
	box-shadow: 0 2px 4px rgb(0, 0, 0);
}

.CARDS {
	max-width: 512px;
}

@media screen and (max-width: 1102px) {
	.CARDS {
		width: 70%
	}
}

:host ::ng-deep .p-datatable .p-datatable-thead>tr>th {
	padding: 0.5rem;
}

/* .no-padding {
    padding: 0 !important;
} */

.center-buttons {
    text-align: center;
}

.buttons-container {
	margin: 0 auto;
	width: 38%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Расстояние между кнопками */
}