<div class="container p-6 max-w-lg bg-white shadow-md rounded-lg">
  <h2 class="text-xl font-semibold mb-4">Введите данные для тестирования</h2>
  <form (ngSubmit)="Test(selectionTestType)">
    <div class="card flex flex-wrap gap-3 p-fluid">
      <div class="flex w-full">
        <div class="w-1/2 pr-2">
          <label for="selectionBandwidth" class="block text-sm font-medium text-gray-700">Ширина полосы, МГц</label>
          <p-selectButton 
            [options]="testOptions" 
            [(ngModel)]="selectionBandwidth" 
            optionLabel="label" 
            optionValue="value"
            id="selectionBandwidth"
            required />
        </div>
        <div class="w-1/2 pl-2">
          <label for="selectionTestType" class="block text-sm font-medium text-gray-700">Тип теста</label>
          <p-selectButton 
            [options]="testOptions" 
            [(ngModel)]="selectionTestType" 
            optionLabel="label" 
            optionValue="value"
            id="selectionTestType"
            required />
        </div>
      </div>
      <div class="flex w-full">
        <div class="w-1/2 pr-2">
          <label for="pa1" class="block text-sm font-medium text-gray-700">Аттенюатор ПА1</label>
          <p-inputNumber
              name="pa1"
              inputId="pa1" 
              [(ngModel)]="pa1"
              [placeholder]="'Введите частоту'"
              class="w-full"
              required /> 
        </div>
        <div class="w-1/2 pl-2">
          <label for="pa2" class="block text-sm font-medium text-gray-700">Аттенюатор ПА2</label>
          <p-inputNumber
              name="pa2"
              inputId="pa2" 
              [(ngModel)]="pa2"
              [placeholder]="'Введите затухание, дБ'"
              class="w-full"
              required /> 
        </div>
      </div>
      <div class="flex w-full">
        <div class="w-1/2 pr-2">
          <label for="splitterM3M" class="block text-sm font-medium text-gray-700">Разветвитель на М3М</label>
          <p-inputNumber
              name="splitterM3M"
              inputId="splitterM3M" 
              [(ngModel)]="splitterM3M"
              [placeholder]="'Введите затухание, дБ'"
              class="w-full"
              required /> 
        </div>
        <div class="w-1/2 pl-2">
          <label for="splitterST" class="block text-sm font-medium text-gray-700">Разветвитель прямо</label>
          <p-inputNumber
              name="splitterST"
              inputId="splitterST" 
              [(ngModel)]="splitterST"
              [placeholder]="'Введите затухание, дБ'"
              class="w-full"
              required /> 
        </div>
      </div>
      <div class="flex w-full">
        <div class="w-1/2 pr-2">
          <label for="cable1" class="block text-sm font-medium text-gray-700">Кабель 1</label>
          <p-inputNumber
              name="cable1"
              inputId="cable1" 
              [(ngModel)]="cable1"
              [placeholder]="'Введите затухание, дБ'"
              class="w-full"
              required /> 
        </div>
        <div class="w-1/2 pl-2">
          <label for="cable2" class="block text-sm font-medium text-gray-700">Кабель 2</label>
          <p-inputNumber
              name="cable2"
              inputId="cable2" 
              [(ngModel)]="cable2"
              [placeholder]="'Введите затухание, дБ'"
              class="w-full"
              required /> 
        </div>
      </div>
      <div class="flex w-full">
        <div class="w-1/2 pr-2">
          <label for="cable3" class="block text-sm font-medium text-gray-700">Кабель 3</label>
          <p-inputNumber
              name="cable3"
              inputId="cable3" 
              [(ngModel)]="cable3"
              [placeholder]="'Введите затухание, дБ'"
              class="w-full"
              required /> 
        </div>
        <div class="w-1/2 pl-2">
          <label for="duration" class="block text-sm font-medium text-gray-700">Время на одну модуляции</label>
          <p-inputNumber
              name="duration"
              inputId="duration" 
              [(ngModel)]="duration"
              [placeholder]="'Введите время, с'"
              class="w-full"
              required />   
        </div>
      </div>
      <div class="mt-4 text-center w-full">
        <div class="card mt-5 mb-5">
          <p-toast position="top-center" key="my-toast" [style]="{ 'z-index': '2000' }" />
          <p-progressBar [value]="modulation" />
        </div>
      </div>
      <div class="flex justify-center w-full mt-4">
        <p-button 
          label="Начать тестирование"
          type="submit" 
          icon="pi pi-times" 
          [disabled]="TestProcessing"
          [loading]="loadingTest" 
          severity="success"
          position="center"
          class="mx-auto" />
      </div>
    </div>
  </form>
</div>