<div class="form mx-auto p-5">
  <h2 class="text-2xl font-bold mb-5">Результаты тестирования</h2>
  <div mat-dialog-content>
    <p-table [columns]="cols" [value]="data">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{ col.header }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            <ng-container [ngSwitch]="col.field">
              <ng-container *ngSwitchCase="'TestStatus'">
                <span [innerHTML]="rowData[col.field]"></span>
              </ng-container>
              <ng-container *ngSwitchDefault>
                {{ rowData[col.field] }}
              </ng-container>
            </ng-container>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="m-6 flex justify-center items-center">
    <p-button label="Закрыть" (click)="closeDialog()" severity="danger" />
  </div>
</div>
