/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

.p-button {
    font-size: 0.8rem;
    line-height: 0.825rem;
    padding: 0.25rem 0.5rem;
}

.p-inputnumber {
   height: 2.5rem;
}

@layer tailwind-base, primeng, tailwind-utilities;
        
@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

body {
    margin: 0;
    padding: 0;
    /* font-family: 'Roboto', sans-serif;
    font-size: medium; */
}

.FormStyle {
    border-radius: 16px; 
    overflow: hidden;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #58d2ff; /* Tailwind CSS color for blue */
    border-radius: 6px;
    border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
background-color: #58d2ff; /* Tailwind CSS darker blue for hover */
}

/* Убираем рамку вокруг кнопок */

.p-fileupload-buttonbar {
    display: flex;
    border: none !important;
    box-shadow: none !important;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.p-toast-message {
    text-align: left; /* Пример стиля для выравнивания текста по центру */
}

